
#Deployement type with 2 pods ,each pod container has nginx image and listens on port 80
apiVersion: apps/v1 
kind: Deployment 
metadata:
  name: nginx-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:latest
        ports:
        - containerPort: 80
